# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Build & Publish

on:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      latestTag: ${{ steps.get_tag.outputs.latestTag }}
    steps:
      - name: Get latest tag
        id: get_tag
        run: |
          set -e
          RESPONSE=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -w "%{http_code}" -o response.json \
            https://api.github.com/repos/${{ github.repository }}/releases/latest)

          if [ "$RESPONSE" -eq 200 ]; then
            TAG=$(jq -r .tag_name response.json)
          else
            TAG="v0.0.0"
          fi

          echo $TAG
          echo "latestTag=$TAG" >> $GITHUB_OUTPUT
  build:
    needs: prepare
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build --stacktrace
        env:
          nexusUser: ${{ secrets.NEXUS_USER }}
          nexusPassword: ${{ secrets.NEXUS_PASSWORD }}
          latestTag: ${{ needs.prepare.outputs.latestTag }}
          commitHash: ${{ github.sha }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: build/
          retention-days: 1
          if-no-files-found: error

  publish:
    needs:
      - prepare
      - build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: build/

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Publish Packages
        run: ./gradlew publish --stacktrace
        env:
          githubUser: ${{ github.actor }}
          githubPassword: ${{ secrets.GITHUB_TOKEN }}
          githubRepository: ${{ github.repository }}
          nexusUser: ${{ secrets.NEXUS_USER }}
          nexusPassword: ${{ secrets.NEXUS_PASSWORD }}
          refName: ${{ github.ref_name }}
          refType: ${{ github.ref_type }}
          latestTag: ${{ needs.prepare.outputs.latestTag }}
          commitHash: ${{ github.sha }}
